# Generic ignores files
.idea
.mypy_cache
.nox
.pytest_cache
dist
build
htmlcov
site
__pycache__
*.pyc
*.egg-info
.coverage
.coverage.*
.ipynb_checkpoints
.ruff_cache
.venv
# Pytest report
pytest_report.html
assets

# Local data
data/

# Dynamic versioning
**/_version_.py


# tests outputs
tests/outputs

# https://github.com/firecow/gitlab-ci-local
.gitlab-ci-local/